.container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  font-family: Arial;
}

.chat-box {
  border: 1px solid #ccc;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  background: #e5ddd5;
}

.msg {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.user {
  background: #fff;
  text-align: left;
}

.admin {
  background: #dcf8c6;
  text-align: right;
  margin-left: auto;
}

.input-box {
  display: flex;
  margin-top: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
}

.input-box button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}